h1{
    font-size: 40px;
    text-align: center;
    background-color: burlywood;
    padding: 0%;
    margin: 0%;
    font-family: 'Playfair Display', serif;
}

a{
    font-size: 30px;
    margin: 20px;
}

nav{
    text-align: center;
}

#greeting{
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
}

.nav{
    text-align: center;
    display: flex;
    flex-flow: row; 
    justify-content: center;
}