*{
    margin: 0;
}
body{
    background-color: beige;
}

h1{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Playfair Display', serif;
    color: black;
}

header{
    background-color: burlywood;
}
p{
  font-size: 30px;
  margin: 10px;
  color: black;
  text-decoration: none;
}
ul{
    font-size: 30px;
    margin: 10px;
    color: black;
    text-decoration: none;

}

nav{
    text-align: center;
}

#greeting{
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
}

.nav{
    text-align: center;
    display: flex;
    flex-flow: row; 
    justify-content: center;
}

.material-icons{
    padding-top: 20px;
}

.itemDetail{
    background-color: #D0D0D0;
    width: 20%;
    border-radius: 5%;
    margin-top: 8%;
}

.items{
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    object-fit: cover;

}

.counter{
    background-color: #e2e2e2;
    border-radius: 5%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 6px;
}

.button {
    background-color: white;
    border-radius: 5%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 6px;
  }

  .divCounter{
    margin-left: 10%;
  }

  .terminar{
    background-color: #e2e2e2;
    border-radius: 5%;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 6px;
    margin-left: 4%;
  }


  .cart_h3{
    margin-right: 30%;
  }

  .cart_table{
    margin-left: 30%;
    width: 40%;
  }

  .cart_details{
    display: inline-block;
    margin-left: 20px;
  }

  td{
      text-align: center;
      padding: 2%;
  }

  .tituloItems{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .imagenItems{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
  }

  .itemList{
    padding: 7%;
    padding-right: 20%;
    padding-left: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5rem;
  }

  h2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .imagenDetail{
    margin-left: 35%;
    margin-top: 5%;

  }

  .divItemDetail{
    display: flex;
  }


  a{
    text-decoration: none;
    color: black;
    }
    
    a:visited{
    text-decoration: none;
    color: black;}


    .eliminarProd{
      width: 1%;
      padding: 1px;
      margin: 1px
    }
    .cartButtons{
      display: flex;
    }
.tituloCart{
  display: flex;
  justify-content: center;
}

.detailButton{
  background-color: grey;
  border-radius: 5%;
  color: black;
  margin-left: 20%;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 6px;
}

.linkCart{

  color: white;
  
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius:5px;
  font-size: 20px;
}

.divCart{
  margin: "7%";
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
}
